/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.blur-plugin-text {
    filter: blur(5px);
    user-select: none;
}

.blur-plugin-text:hover {
    cursor: pointer;
}
